<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <title>Iniciar sesión | Salud-Link</title>
    <link rel="stylesheet" href="../css/style.css" />
  </head>

  <body>
    <h1>Iniciar sesión</h1>

    <form id="loginForm" class="login-box">
      <!-- Campo de Email -->
      <label for="loginEmail">Email</label>
      <input type="email" id="loginEmail" placeholder="Email" required />

      <!-- Campo de Contraseña -->
      <label for="loginPassword">Contraseña</label>
      <input type="password" id="loginPassword" placeholder="Contraseña" required />

      <!-- Botón de Enviar -->
      <button type="submit">Entrar</button>
    </form>

    <script type="module" src="../js/main.js"></script>
  </body>
</html>
